@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EBF4F4;
	background: -webkit-gradient(linear, center top, center bottom, from(#EBF4F4),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#EBF4F4 ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#EBF4F4 ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#EBF4F4 ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#EBF4F4 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#EBF4F4 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEBF4F4, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBF4F4', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1080px;
}

#page_position_content
{
	margin-top: 5px;
	margin-bottom: 1px;
}

#ppmenuu2624
{
	width: 0.01px;
	padding-bottom: 6px;
	position: relative;
}

#pmenuu2624
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#menuu2624
{
	z-index: 11;
	width: 71px;
}

#menuu2649
{
	z-index: 20;
	width: 71px;
	margin-top: 21px;
}

#u2641,#u2650
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2644,#u2651
{
	width: 71px;
}

#u2645,#u2652
{
	height: 22px;
	width: 71px;
	margin-right: -10000px;
}

#menuu3129
{
	z-index: 54;
	width: 68px;
	margin-left: 17px;
	margin-top: 11px;
}

#u2621
{
	z-index: 2;
	width: 238px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 95px;
}

#u2622-4
{
	z-index: 3;
	width: 238px;
	min-height: 90px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2623-4
{
	z-index: 7;
	width: 214px;
	margin-right: -10000px;
	left: 3px;
}

#menuu2674
{
	z-index: 26;
	width: 144px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 236px;
}

#u2692
{
	width: 144px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2695
{
	width: 144px;
}

#u2698
{
	height: 22px;
	width: 144px;
	margin-right: -10000px;
}

#menuu2699
{
	z-index: 32;
	width: 68px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 311px;
}

#menuu3032
{
	z-index: 42;
	width: 68px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 244px;
}

#menuu3105
{
	z-index: 48;
	width: 85px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 108px;
}

#u3106
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3107
{
	width: 85px;
}

#u3110
{
	height: 22px;
	width: 85px;
	margin-right: -10000px;
}

#menuu3359
{
	z-index: 64;
	width: 70px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 220px;
}

#u3360
{
	width: 70px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3363
{
	width: 70px;
}

#u3365
{
	height: 22px;
	width: 70px;
	margin-right: -10000px;
}

#menuu3403
{
	z-index: 70;
	width: 68px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 299px;
}

#u3130,#u2716,#u3033,#u3420
{
	width: 68px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3131,#u2717,#u3034,#u3421
{
	width: 68px;
}

#u3134,#u2718,#u3037,#u3422
{
	height: 22px;
	width: 68px;
	margin-right: -10000px;
}

#pu3603-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 1px;
	position: relative;
}

#u3603-4
{
	z-index: 76;
	width: 159px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2648-3
{
	z-index: 17;
	width: 5px;
	margin-right: -10000px;
	left: 467px;
}

#u3604-4
{
	z-index: 80;
	width: 356px;
	min-height: 61px;
	text-align: justify;
	color: #7F7F7F;
	margin-left: 9px;
	margin-top: 4px;
	position: relative;
}

#pu3612-7
{
	width: 0.01px;
	margin-left: 9px;
	position: relative;
}

#u3612-7
{
	z-index: 85;
	width: 191px;
	min-height: 133px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u3612-2
{
	color: #7F7F7F;
}

#u3605
{
	z-index: 84;
	width: 164px;
	height: 157px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 196px;
	background: #FFFFFF url("../images/281212-1722-u3605-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu3153-3
{
	width: 0.01px;
	position: relative;
}

#u3153-3
{
	z-index: 60;
	width: 5px;
	margin-right: -10000px;
	margin-top: 68px;
}

#u3613-6
{
	z-index: 92;
	width: 365px;
	min-height: 112px;
	text-align: justify;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 655px;
	left: 8px;
}

#u3614-8
{
	z-index: 98;
	width: 362px;
	min-height: 133px;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 8px;
}

#u3615-8
{
	z-index: 106;
	width: 191px;
	min-height: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 179px;
}

#u3616-8
{
	z-index: 114;
	width: 362px;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 9px;
}

#u3617-8
{
	z-index: 122;
	width: 191px;
	min-height: 133px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 179px;
}

#u3618-8
{
	z-index: 130;
	width: 362px;
	min-height: 94px;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 8px;
}

#u3612-4,#u3614-2,#u3614-4,#u3614-5,#u3615-2,#u3615-4,#u3615-5,#u3616-2,#u3616-4,#u3616-5,#u3617-2,#u3617-4,#u3617-5,#u3618-2,#u3618-4,#u3618-5
{
	text-align: justify;
	color: #7F7F7F;
}

#u3622
{
	z-index: 156;
	width: 164px;
	height: 157px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 9px;
	background: #FFFFFF url("../images/dsc00073-u3622-fr.jpg") no-repeat right center;
	background-size: cover !important;
}

#u3629
{
	z-index: 157;
	width: 162px;
	height: 120px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 9px;
	background: #FFFFFF url("../images/dsc_0026-u3629-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu3619-6
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 1px;
	position: relative;
}

#u3619-6
{
	z-index: 138;
	width: 191px;
	min-height: 133px;
	text-align: justify;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u3637
{
	z-index: 158;
	width: 162px;
	height: 120px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 195px;
	background: #FFFFFF url("../images/020113-2000-u3637-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu3621-6
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 9px;
	position: relative;
}

#u3621-6
{
	z-index: 150;
	width: 191px;
	min-height: 133px;
	text-align: justify;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u3644
{
	z-index: 159;
	width: 162px;
	height: 120px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 201px;
	background: #FFFFFF url("../images/020113-1346-u3644-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3620-6
{
	z-index: 144;
	width: 354px;
	min-height: 103px;
	text-align: justify;
	color: #7F7F7F;
	margin-left: 12px;
	margin-top: 6px;
	position: relative;
}

#u2755-4
{
	z-index: 38;
	width: 367px;
	min-height: 29px;
	margin-left: 7px;
	top: -26px;
	margin-bottom: -26px;
}

#u3155
{
	z-index: 63;
	width: 380px;
	height: 47px;
	margin-top: 4px;
}

#page .verticalspacer
{
	clear: both;
}

