.SubHeading---Blue,.SubHeading---Yellow,.Page-Main-heading---Blue,.Page-Main-Heading---Yellow
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2622-4
{
	font-family: germania-one-n4, sans-serif;
}

#u2755-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2819-4,#u3351-4,#u2821-4,#u2823-4,#u2825-4,#u3383-4,#u3385-4,#u3388-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

